.main-content {
  padding-left: 50px;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #bbb;
  font-family: 'Satisfy', cursive;
}

/* Links inside the navbar */
.navbar a {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  color: #ffff33;
  text-align: center;
  padding: 14px 0px 16px 0px;
  text-decoration: none;
}

h1 {
	text-align: center;
	font-family: 'Satisfy', cursive;
}

h2 {
	font-family: 'Satisfy', cursive;
  padding-left: 50px;
}


@media screen and (min-width: 1440px) {
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  .main-content {
  padding-left: 300px;
  }

  h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  }

  h2 {
    /*text-align: center;*/
    font-family: 'Satisfy', cursive;
    padding-left: 400px;
  }
}

@media screen and (min-width: 1024px) {
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  .main-content {
  padding-left: 300px;
  }

  h1 {
  text-align: center;
  font-family: 'Satisfy', cursive;
  }

  h2 {
    /*text-align: center;*/
    font-family: 'Satisfy', cursive;
    padding-left: 200px;
  }
}